
38/1 0 * * * python /home/zhang/sohu.py 

#定时任务使用方法
#使用步骤：
#1、终端运行crontab -e [解释：编辑配置文件]
#2、选择你要用的编辑器。
#3、写入定时信息

# 5个 * 代表 分(1~59) 时(1~23.0代表0点) 日(1~31) 月(1~12) 星期(0~6)
# 例子代表 0点38分开始每隔一分钟执行一次命令,后面可接 >> 表示log的输出
